body{
	font-family:sans-serif;
}

#content-wrapper{
	width:80%;
	margin-left:10%;
}

#title{
	display:block;
	border-bottom:3px solid #000;
}

#left-column{
	width:50%;
	float:left;
}

#right-column{
	width:50%;
	float:left;
}

#left-column label{
	display:block;
	font-weight:bold;
}

#shopping-cart{
	border:3px solid #CCC;
	width:255px;
	text-align:left;
	font-size:1em;
}

#shopping-cart td{
	font-size:.7em;
	padding:3px;
}

#shopping-cart th{
	background-color:#CCC;
	font-size:.7em;
}
#shopping-cart tfoot tr td{
	border-top:1px solid #CCC;
}

#product-image{
	border:1px solid #CCC;
	width:300px;
	padding:0;
}

#description{
	font-size:.7em;
	margin-top:4px;
}
#product-image{
	position:relative;
}

#add-to-cart{
	background-image:url(images/add_to_cart.png);
	background-repeat:no-repeat;
	display:block;
	width:117px;
	height:27px;
	text-indent:-9999px;
	margin-top:5px;
	margin-left:-3px;
	border:0;
}

#checkout{
	background-image:url(images/checkout.png);
	background-repeat:no-repeat;
	width:83px;
	height:21px;
	border:0;
	text-indent:-9999px;
	margin-top:20px;
}

#name-footer{
	position:absolute;
	bottom:0px;
	height:50px;
	width:300px;
	opacity:.7;
	background-color:black;
 
}

#product-name{
	position:absolute;
	bottom:14px;
	padding-left:15px;
	text-align:left;
	color:white;
	font-size:1.2em;
	font-weight:bold;
}